<p-sidebar 
        [(visible)]="sidebarVisible" 
        [position]="'right'"
        [transitionOptions]="'300ms cubic-bezier(0, 0, 0.2, 1)'"
        styleClass="w-30rem">
    
        <app-manage-customer 
                (submit)="save($event)"
                [customer]="customer"
                [operation]="operation"
                (cancel)="cancel()"
                >
        </app-manage-customer>
</p-sidebar>

<div class="flex align-items-stretch" style="height: 99vh;">
    <div class="flex flex-column align-items-stretch border-right-1 col-2 border-gray-200">
        <app-sidebar></app-sidebar>
    </div>
    <div class="flex flex-column flex-grow-1">
        <div>
          <app-header></app-header>  
        </div>
        <div class="main-container p-3">
            <button 
                pButton 
                icon="pi pi-plus" 
                label="Create Customer" 
                class="p-button-success" (click)="createCustomer()"></button>
            
            <div class="flex justify-content-center align-items-center flex-wrap gap-5 mt-4">
                <app-customer-card 
                    *ngFor="let customer of allCustomers"
                      [customer]="customer"
                    (delete)="deleteCustomer($event)"
                    (update)="updateCustomer($event)">
                </app-customer-card>
            </div>
        </div>
    </div>
</div>

<!-- toast after saving new customer -->
<p-toast position="bottom-center"></p-toast>

<!-- confirmation dialog before deleting a customer -->
<p-confirmDialog 
    header="Confirmation" 
    icon="pi pi-exclamation-triangle"
    acceptLabel="Delete"
    acceptButtonStyleClass="p-button-danger"
    rejectLabel="Cancel">
</p-confirmDialog>
