<div class=" m-3 flex flex-column justify-content-center">
    <div class="m-auto">
    <div class="text-center">
        <p-avatar
                image="https://picsum.photos/200" 
                styleClass="mr-2"
                size="xlarge"
                shape="circle"></p-avatar>
        <h1>Sign in to your account</h1>
    </div>
    
    <div class="field">
        <label for="email">Email</label>
        <input
            id="email"
            pInputText
            placeholder="Your email address"
            type="email"
            class="w-full">
    </div>

    <div class="field">
        <label for="password">Password</label>
        <input
            id="password"
            pInputText
            placeholder="Password"
            type="password"
            class="w-full">
    </div>

    <button
        pButton
        label="Login"
        class="w-full"></button>
    
    <button
        pButton
        label="Don't have an account? Signup now."
        class="w-full p-button-link text-left pl-0"></button>
    
    </div>
</div>
