<div class=" m-3 flex flex-column justify-content-center">
    <div class="m-auto">
    <div class="text-center">
        <p-avatar
                image="https://picsum.photos/200" 
                styleClass="mr-2"
                size="xlarge"
                shape="circle"></p-avatar>
        <h1>Register for an account</h1>
    </div>
    
    <div *ngIf="errorMessage" style="text-align: center;">
        <p-message 
            severity="error" 
            [text]="errorMessage">
        </p-message>
    </div>
    
    <div
    
    class="field">
        <label for="firstName">FirstName</label>
        <input
            [(ngModel)]="customerRegistartionRequest.firstName"
            id="firstName"
            pInputText
            placeholder="Your firstName"
            type="text"
            class="w-full">
    </div>

    <div class="field">
        <label for="lastName">Lastname</label>
        <input
            [(ngModel)]="customerRegistartionRequest.lastName"
            id="lastName"
            pInputText
            placeholder="Your lastName"
            type="text"
            class="w-full">
    </div>
    
    <div class="field">
        <label for="email">Email</label>
        <input
            [(ngModel)]="customerRegistartionRequest.email"
            id="email"
            pInputText
            placeholder="Your email address"
            type="email"
            class="w-full">
    </div>

    <div class="field">
        <label for="password">Password</label>
        <input
            [(ngModel)]="customerRegistartionRequest.password"
            id="password"
            pInputText
            placeholder="Password"
            type="password"
            class="w-full">
    </div>

    <button (click)="onRegisterAccount()"
        pButton
        label="Create an account"
        class="w-full">
    </button>
    
    <button (click)="onLogin()"
        pButton
        label="Have an account? Login now."
        class="w-full p-button-link text-left pl-0"></button>
    
    </div>
</div>
