<div>    
    <h2>dd</h2>
    <div class="field">
        <label for="firstName">First name</label>
        <input 
            [(ngModel)]="customer.firstName"
            id="firstName" 
            pInputText 
            placeholder="your first name" 
            type="text" 
            class="w-full">
    </div>

    <div class="field">
        <label for="lastName">Last name</label>
        <input 
            [(ngModel)]="customer.lastName"
            id="lastName" 
            pInputText 
            placeholder="your last name" 
            type="text" 
            class="w-full">
    </div>

    <div class="field">
        <label for="email">email</label>
        <input 
            [(ngModel)]="customer.email"
            id="email" 
            pInputText 
            placeholder="your email address" 
            type="text" 
            class="w-full">
    </div>

    <div class="field">
        <label for="password">Password</label>
        <input 
            [(ngModel)]="customer.password"
            id="password" 
            pInputText 
            placeholder="your password" 
            type="password" 
            class="w-full">
    </div>

    <button [disabled]="!isCustomerValid()"
            (click)="onSubmit()"
            pButton
            label="Submit"
            class="w-full"></button>
    
    <button 
            pButton 
            label="Cancel" 
            class="w-full p-button-outlined p-button-danger mt-2"></button>
</div>